dist
build
node_modules
package-lock.json
migrate.sh
*/dev.js
executables/*
namespace/*
localKOIIDB.db
localENDORSEMENT.db
localBLOCKEDIPS.db
localPendingENDORSEMENT.db
localPendingPROFILES.db
localSCRAPERPUBLICLIST.db
.env
.env-local
linktrees
test/testdb
KOIIDB
fillDb.js
.DS_Store